recursive-include src/peakrdl_halcpp/templates *.j2
recursive-include src/peakrdl_halcpp/include *.h
recursive-include src/peakrdl_halcpp/test_generator_data/test_utils *.h
recursive-include src/peakrdl_halcpp/test_generator_data/test_utils *.txt
