#include "mock_io.h"
#include "{{ top.orig_type_name }}_hal.h"
#include "field_test_utils.h"
#include "reg_test_utils.h"

inline constexpr {{ top.orig_type_name|upper }}_HAL<0> {{ top.orig_type_name }}{};

int main () {

{% for reg in regs %}
    test_generic_reg({{ reg|resolve_path_array_refs }}, {{ reg.absolute_address }}, "{{ reg.get_path() }}");
    {% if reg.has_sw_readable and reg.has_sw_writable %}
    test_rw_reg({{ reg|resolve_path_array_refs }}, "{{ reg.get_path() }}");
    {% elif reg.has_sw_readable and not reg.has_sw_writable %}
    test_ro_reg({{ reg|resolve_path_array_refs }});
    {% elif not reg.has_sw_readable and reg.has_sw_writable %}
    test_wo_reg({{ reg|resolve_path_array_refs }});
    {% endif %}

{% endfor %}

{% for field in fields %}
    {% set field_ref = field|resolve_path_array_refs %}
    test_generic_field({{ field_ref }}, {{ field.width }}, {{ field.parent.absolute_address }}, {{ field.low }}, {{ field.high }}, "{{ field.get_path() }}");
    {% if field.is_sw_readable and field.is_sw_writable %}
    test_rw_field<decltype({{ field_ref }}), {{ field.width }}>({{ field_ref }}, "{{ field.get_path() }}");
    {% elif field.is_sw_readable and not field.is_sw_writable %}
    test_ro_field<decltype({{ field_ref }}), {{ field.width }}>({{ field_ref }});
    {% elif not field.is_sw_readable and field.is_sw_writable %}
    test_wo_field<decltype({{ field_ref }}), {{ field.width }}>({{ field_ref }});
    {% endif %}

{% endfor %}
    
    return 0;
}

